<div class="bienvenida-container">
    <div class="bienvenida-informacion">
        <h1 class="bienvenida-title">Bienvenido a SmartXScan</h1>
        <div class="prediccion">
            <h2>Predicción</h2>
            <p>Sube una imagen de radiografía de tórax y nuestro sistema analizará si hay indicios de TBC. Simple, rápido y sin complicaciones.</p>
            <button routerLink="/prediccion" class="diagnosis-button">Iniciar diagnóstico</button>
        </div>
        <div class="analisis">
            <h2>Análisis predictivo</h2>
            <p>Diagnóstico temprano de tuberculosis pulmonar mediante inteligencia artificial.</p>
        </div>
    </div>
    <div class="bienvenida-imagen">
        <img src="https://i.imgur.com/P3uRvIX.png" alt="Fondo" class="fondo">
    </div>
</div>